.actual-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 100px;
    background-color: #FFF;
    border-radius: 6px;
    gap: 20px;
    .actual-title {
        flex-basis: 40%;
        flex-grow: 1;
        .pre-title {
            font-size: 18px;
        }
        .mini-title {
            font-size: 26px;
        }
    }

    .actual-content {
        flex-basis: 60%;
        flex-grow: 1;
        form{
            display: flex;
            justify-content: space-between;
            padding-bottom: 8px;
            flex-wrap: wrap;
            .label-input{
                display: flex;
                flex-direction: column;
                label{
                    font-size: 16px;
                    font-weight: 600;
                    color: #18121E;
                    margin-bottom: 8px;
                }
                input{
                    padding: 12px 16px;
                    border: none;
                    width: 280px;
                }
            }
            .actual-submitbtn.button {
                height: 44px;
                width: 240px;
                align-self: flex-end;
            }
        }
        p{
            font-size: 14px;
            font-weight: 600;
            a{
                font-size: 14px;
                font-weight: 600;
            }
        }
    }
    
}

@media (max-width:1024px){
    .actual-items{
        padding: 0 40px;
    }
}
@media (max-width:768px){
    .actual-items{
        flex-wrap: wrap;
        .actual-content{
            
        }
    }
}